// Theme all variables include Here
$theme-color:#0054A0;
$image-path:"../images" !default;
$clear:both;
$font-size:14px;
$font-color:#333333;
$font-family: 'Open Sans', sans-serif;
$heading-one:31px;
$heading-two:27px;
$heading-three:24px;
$heading-four:21px;
$heading-five:19px;
$heading-six:16px;
$transition:all 0.5s linear;